@import '~@/assets/style/mixins.scss';
/*
 * 卡券里引用
 */
$blue: #41A1DB;
$gray: #999;
$red:#D9534F;
// 背景色
$bg_gray: #F5F5F5;
$bg_blue: #41A1DB;
// 边框颜色
$bor_bot: #DFE3F1;
$theme-color: var(--theme-color);
