@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1588172176483') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e600";
}

.icon-error-gap:before {
  content: "\e605";
}

.icon-circle-left:before {
  content: "\e60a";
}

.icon-circle-up:before {
  content: "\e611";
}

.icon-checkmark-empty:before {
  content: "\e610";
}

.icon-jia:before {
  content: "\e641";
}

.icon-jian:before {
  content: "\e643";
}

.icon-alert-empty:before {
  content: "\e606";
}

.icon-keyboard-xiangxia:before {
  content: "\e609";
}

.icon-yuandian:before {
  content: "\e82f";
}

.icon-circle-down:before {
  content: "\e612";
}

.icon-circle-right:before {
  content: "\e614";
}

.icon-yuandianxiao:before {
  content: "\e630";
}

.icon-alert-full:before {
  content: "\e685";
}

.icon-error-empty:before {
  content: "\e616";
}

.icon-square-checked:before {
  content: "\e607";
}

.icon-checkmark-full:before {
  content: "\e69e";
}

.icon-aixin:before {
  content: "\e63e";
}

.icon-checkmark:before {
  content: "\e624";
}

.icon-square-border-unchecked:before {
  content: "\e678";
}

.icon-loading1:before {
  content: "\e633";
}

.icon-keyboard-down:before {
  content: "\e6fb";
}

.icon-error:before {
  content: "\e632";
}

.icon-unchecked:before {
  content: "\e66d";
}

.icon-error-full:before {
  content: "\e68c";
}

.icon-arrow-left:before {
  content: "\e6fd";
}

.icon-alert:before {
  content: "\e8ee";
}

.icon-weep:before {
  content: "\e603";
}

.icon-keyboard-remove:before {
  content: "\e627";
}

.icon-flower:before {
  content: "\e7c3";
}

.icon-square-unchecked:before {
  content: "\e66c";
}

.icon-pentagram:before {
  content: "\e601";
}

.icon-emoji:before {
  content: "\e604";
}

.icon-search:before {
  content: "\e602";
}

.icon-keyboard-xiangshang:before {
  content: "\e649";
}

.icon-keyboard-delete:before {
  content: "\e64a";
}

.icon-square-border-checked:before {
  content: "\e63d";
}

.icon-arrow-up:before {
  content: "\e8ef";
}

.icon-arrow-right:before {
  content: "\e8f0";
}

.icon-arrow-down:before {
  content: "\e8f1";
}

.icon-checkicon:before {
  content: "\e6cc";
}

.icon-question:before {
  content: "\e6cf";
}

.icon-loading:before {
  content: "\e722";
}

.icon-camera:before {
  content: "\e76a";
}

.icon-add-bank-card:before {
  content: "\e71b";
}

.icon-warning:before {
  content: "\e65c";
}

.icon-minus-circle:before {
  content: "\e637";
}

.icon-chenggong:before {
  content: "\e8c3";
}

.icon-shibai:before {
  content: "\e8c5";
}

