@font-face {font-family: "iconfont";
  src: url('~@/assets/font/iconfont.ttf?t=1587290117502') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e722";
}

.icon-camera:before {
  content: "\e76a";
}

.icon-add-bank-card:before {
  content: "\e71b";
}

.icon-warning:before {
  content: "\e65c";
}

.icon-minus-circle:before {
  content: "\e637";
}

.icon-chenggong:before {
  content: "\e8c3";
}

.icon-shibai:before {
  content: "\e8c5";
}

